@charset "UTF-8";
/* import local scss Files */
@import "reset.css";
/* Setting Variables : Font Family */
/* Setting Variables : Text Color */
/* Setting Variables : Object Color */
@import "fonts.css";
/* Responsive for Mobile */
@media (min-width: 767px) and (max-width: 1024px) {
  /* ############ Common CSS  ############ */
  section:not(.front-slider) {
    padding: 30px 10px;
  }
  [class*=inner] {
    width: 100%;
  }
  /* ############ header ############ */
  header .header-inner {
    padding: 15px 10px 0 10px;
  }
  header .header-inner .logo {
    display: inline-block;
    line-height: 100%;
  }
  header .header-inner .search {
    width: 300px;
  }
  header .header-inner .gnb {
    height: 55px;
  }
  header .mega-navi {
    display: block;
  }
  header .mega-navi .mega-navi-inner {
    width: 100%;
    padding: 20px 0 20px 20px;
    gap: 10px;
  }
  header .mega-navi .mega-navi-inner .mega-navi-item {
    font-size: 14px;
  }
  /* ############ section : front ############ */
  .front-slider .front-slider-items .front-slider-item .front-slider-item-wrap {
    width: 100%;
    height: 300px;
    padding: 0 30px;
  }
  .front-slider .front-slider-items .front-slider-item .front-slider-item-wrap .desc h1 {
    font-size: 24px;
  }
  .front-slider .front-slider-items .front-slider-item .front-slider-item-wrap .pic img {
    height: 255px;
  }
  /* ############ section : focus-class ############ */
  .focus-class .slick-dots li {
    margin: 0;
  }
  .focus-class .slick-dots li button:before {
    font-size: 22px;
  }
  .focus-class .slick-dots li.slick-active button:before {
    color: #ED2040;
  }
  /* ############ section : front-slider ############ */
  .category-shortcut .category-shortcut-inner .category-shortcut-items {
    gap: 10px;
  }
  .category-shortcut .category-shortcut-inner .category-shortcut-items .category-shortcut-item {
    height: 110px;
    gap: 5px;
  }
  .category-shortcut .category-shortcut-inner .category-shortcut-items .category-shortcut-item span {
    font-size: 15px;
  }
  /* ############ section : best-class ############ */
  .best-class .best-class-inner .best-class-content .best-class-wrap {
    flex-direction: column-reverse;
  }
  .best-class .best-class-inner .best-class-content .best-class-wrap .invite-banner {
    display: none;
  }
  .best-class .best-class-inner .best-class-content .best-class-wrap .invite-banner-tablet {
    display: block;
    text-align: center;
    margin-top: 5px;
    border-radius: 8px;
    background-color: #AAE8F3;
  }
  /* ############ section : blog ############ */
  .blog .blog-inner .blog-content .blog-items .blog-item .thum {
    height: 150px;
  }
  .blog .blog-inner .blog-content .blog-items .blog-item .desc .blog-outline p {
    /* 특정 단위 텍스트 자르기 */
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 텍스트 원하는 자를 단위 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  /* ############ section : slogan ############ */
  .slogan {
    padding: 25px !important;
  }
  /* ############ section : tip-tech ############ */
  .tip-tech .tip-tech-inner .tip-tech-content .tip-tech-wrap .tip-tech-items .tip-tech-item .thum {
    display: none;
  }
  /* ############ footer ############ */
  footer .footer-inner {
    padding: 0 10px;
  }
  footer .footer-inner .lnb-wrap {
    gap: 20px;
    padding-bottom: 0;
  }
  footer .footer-inner .copyright-wrap {
    padding-top: 20px;
  }
  footer .footer-inner .copyright-wrap .sns {
    width: 150px;
    text-align: center;
  }
  /* ############ tack-course Main ############ */
  .take-course .take-course-inner {
    flex-direction: column;
  }
  /* ############ class-detail Main ############ */
  .class-detail-image .class-detail-image-inner {
    padding: 0 30px;
    height: 350px;
  }
  .class-detail-image .class-detail-image-inner .heading h1 {
    font-size: 24px;
  }
  .class-detail-image .class-detail-image-inner .heading p {
    font-size: 16px;
  }
  .class-detail-image .class-detail-image-inner .cover-image img {
    height: 250px;
  }
  .class-detail-full .class-detail-full-inner .class-detail-full-content {
    flex-direction: column-reverse;
  }
  .class-detail-full .class-detail-full-inner .class-detail-full-content .class-detail-info .class-detail-navigation {
    top: 100px;
  }
  .class-detail-full .class-detail-full-inner .class-detail-sidebar {
    position: static;
  }
}