@charset "UTF-8";
/* import local scss Files */
@import "reset.css";
/* Setting Variables : Font Family */
/* Setting Variables : Text Color */
/* Setting Variables : Object Color */
@import "fonts.css";
/* Responsive for Mobile */
@media (min-width: 768px) and (max-width: 1024px) {
  /* ############ Common CSS  ############ */
  section:not(.front-slider) {
    padding: 30px 10px;
  }
  [class*=inner] {
    width: 100%;
  }
  /* ############ header ############ */
  header .header-inner {
    padding: 15px 10px 0 10px;
  }
  header .header-inner .logo {
    display: inline-block;
    line-height: 100%;
  }
  header .header-inner .search {
    width: 300px;
  }
  header .header-inner .gnb {
    height: 55px;
  }
  .mega-navi {
    display: block;
  }
  .mega-navi .mega-navi-inner {
    width: 100%;
  }
  /* ############ section : front-slider ############ */
  .category-shortcut .category-shortcut-inner .category-shortcut-items {
    gap: 10px;
  }
  .category-shortcut .category-shortcut-inner .category-shortcut-items .category-shortcut-item {
    height: 110px;
    gap: 5px;
  }
  .category-shortcut .category-shortcut-inner .category-shortcut-items .category-shortcut-item span {
    font-size: 15px;
  }
  /* ############ section : best-class ############ */
  .best-class .best-class-inner .best-class-content .best-class-wrap {
    flex-direction: column-reverse;
  }
  .best-class .best-class-inner .best-class-content .best-class-wrap .invite-banner {
    display: none;
  }
  .best-class .best-class-inner .best-class-content .best-class-wrap .invite-banner-tablet {
    display: block;
    text-align: center;
    margin-top: 5px;
    border-radius: 8px;
    background-color: #AAE8F3;
  }
  /* ############ section : blog ############ */
  .blog .blog-inner .blog-content .blog-items .blog-item .thum {
    height: 150px;
  }
  .blog .blog-inner .blog-content .blog-items .blog-item .desc .blog-outline p {
    /* 특정 단위 텍스트 자르기 */
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* 텍스트 원하는 자를 단위 수 */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  /* ############ section : slogan ############ */
  .slogan {
    padding: 25px !important;
  }
  /* ############ section : tip-tech ############ */
  .tip-tech .tip-tech-inner .tip-tech-content .tip-tech-wrap .tip-tech-items .tip-tech-item .thum {
    display: none;
  }
}