/* import local scss Files */
@import "reset.css", "variables", "fonts.css";

/* Responsive for Mobile */
@media (max-width : 768px) {
  /* ############ Common CSS  ############ */
  section:not(.front-slider) {
    padding: 30px 10px;
  }
  [class*="inner"] {
    width: 100%;
  }
  .front-header {
    h2 {
      font-size: 20px;
    }
  }
  /* ############ header ############ */
  header {
    .header-inner {
      padding : 15px 10px 0 10px;
      .logo {
        display: inline-block;
        line-height: 100%;
        img {}
      }
      .search {
        display: none;
      }
      .login-register-buttons {
        button[class^=btn-] { margin-right: 0;}
      }
      .gnb {
        font-size: 12px;
        gap: 5px;
        height: 40px;
        .trigger {
          font-size: 0;
          transform: translate(2px,-3px);
          &::before {
            background: url(../images/icon-category-search.png);
            margin-right: 0;
          }
        }
        .special-navi {
          white-space: nowrap;
          // border: 1px solid tomato;
          overflow-y: hidden;
          a {
            &:first-child::after {
              display: none;
            }
          }
        }
      }
      /* mega-navi */
    }
    .mega-navi {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 300px;
      height: 100vh;
      // overflow-y: scroll;
      padding-top: 60px;
      /* mo화면 - 노출 */
      .search-mo,
      .btn-mega-navi-close {
        display: block;
      }
      .search-mo {
        width: 280px;
        margin: auto;
      }
      .mega-navi-inner {
        flex-direction: column;
        // gap: 20px;
        .mega-navi-item {
          &:last-child b {
            border: none;
          }
          b {
            border-bottom: 1px solid $dim-black;
            display: block;
            padding: 5px 15px;
            color: $silver-black;
            &::after {
              content: '\F64D';
              font-family: $bs-font;
              float: right;
              color: $silver-black;
              font-size: 18px;
            }
            &.active {
              color: $white;
              &::after {
                content: '\F63B';
                color: $white;
              }
            }
            &:last-child {
              border: none;
            }
          }
          .mega-navi-item-wrap {
            display: none;
            padding: 10px 15px;
          }
        }
      }
      .btn-mega-navi-close {
        position: absolute;
        top: 10px;
        right: 10px;
        border: none;
        font-size: 1em;
        background-color: transparent;
        color: $white;
      }
    }
  }
  /* ############ footer ############ */
  footer{
    padding: 30px 0;
    .footer-inner {
      padding: 0 20px;
      .lnb-wrap {
        flex-direction: column;
        gap: 50px;
        .footer-slogan {
          h2 {
            text-align: center;
            font-size: 1.8em;
            color: $white;
          }
        }
        .lnb {
          flex-direction: column;
          .link-item {
            .link-item-title {
              padding: 10px 0;
              border-bottom: 1px solid $silver-black;
              pointer-events: all;
              &::after {
                content: '\f282';
                font-family: $bs-font;
                float: right;
                margin-right: 5px;
              }
              &.active:after {
                transform: rotate(180deg);
              }
            }
            .link-item-content {
              padding: 5px 0;
              display: none;
              a {
                padding: 3px 0;
              }
            }
          }
        }
      }
      .copyright-wrap {
        flex-direction: column;
        text-align: center;
        padding-top: 10px;
        .company-info-trigger {
          color: $white;
          font-weight: 400;
          display: block;
        }
        address {
          display: none;
        }
        .sns {
          margin-top: 10px;
        }
      }
    }
  }
  /* ############ section : front ############ */
  .front-slider{
    .front-slider-items{
      .front-slider-item {
        .front-slider-item-wrap {
          flex-direction: column;
          width: 100%;
          .desc {
            margin: 20px;
            // b {}
            h1 {
              font-size: 24px;
              margin: 10px 0;
            }
            // span {}
          }
          .pic {
            img {
              height: 45%;
              transform: translateY(2px);
            }
          }
        }
      }
    }
  }
  /* ############ section : front-slider ############ */
  .category-shortcut {
    .category-shortcut-inner {
      .category-shortcut-items {
        flex-wrap: wrap;
        // margin: 0 25px;
        .category-shortcut-item {
          flex-basis: 25%;
          box-shadow: none;
          height: auto;
          justify-content: flex-start;
          em {
            .bi {}
          }
          span {
            font-size: 14px;
          }
        }

      }
    }
  }
  /* ############ section : focus-class ############ */
  .focus-class {
    .focus-class-inner {
      overflow: hidden;
      .focus-class-content {
        .focus-class-items {
          // border: 1px solid tomato;
          width: 550px;
          .focus-class-item {
            .thum {
              height: 120px;
            }
            @at-root.overview {
              h4 {
                font-size: 14px;
              }
              .class-info {}
              .class-price {
                // border: 1px solid tomato;
                transform: scale(.8);
                transform-origin: left;
                // white-space: nowrap;
              }
            }
          }

        }

      }
    }
  } 
  /* ############ section : best-class ############ */
  .best-class {
    .best-class-inner {
      .best-class-content {
        .best-class-wrap {
          flex-direction: column;
            .invite-banner {
              padding-right: 0;
              img {
                width: 100%;
                height: auto;
              }
            }
          .best-class-items-outer {
            .best-class-items {
              flex-direction: column;
              gap: 0;
              &:first-child {
                margin-top: 10px;
              }
              .best-class-item {
                // border: 1px solid tomato;
                margin-bottom: 5px;
                gap: 8px;
              }
            }
          }
        }
      }
    }
  }
  /* ############ section : early-bird ############ */
  .early-bird {
    .early-bird-inner{
      .early-bird-content {
        .early-bird-banner {
          padding: 25px;
          .banner-about {
            h1 {
              font-size: 16px;
              span {}
            }
            .hash-tag {
              font-size: 16px;
            }
          }
          .banner-thum {
            img {
              display: none;
            }
          }
        }
        .countdown-wrap {
          width: 100%;
          margin: 20px 0;
          font-size: 16px;
        }
      }
    }
  }

/* ############ section : blog ############ */
  .blog {
    .blog-inner {
      .blog-content {
        .blog-items {
          flex-direction: column;
          .blog-item {
            margin-bottom: 10px;
            .thum {
              img {}
            }
          }

        }
      }
    }
  }
/* ############ section : slogan ############ */
  .slogan {
    .slogan-inner {
      .slogan-content {
        padding: 0 20px;
        h1 {
          font-size: 22px;
        }
        span {
          font-size: 16px;
        }
      }
    }
  }
/* ############ section : tip-tech ############ */
  .tip-tech {
    .tip-tech-inner {
      .tip-tech-content {
        .tip-tech-wrap {
          .tip-tech-items {
            flex-direction: column;
            .tip-tech-item {
              .tip-tech-info {
                h3 {
                  font-size: 14px;
                }
                p {
                  font-size: 13px;
                  margin: 5px 0 0 0;
                }
              }
            }
          }
        }
      }
    }

  }

/* ############ Category Main ############ */
  .category-class {
  .category-class-inner {
    .category-class-main {}
    .category-class-detail {
      padding-bottom: 20px;
      .category-shortcut-btn-group {
        .btn-shortcut {
          margin: 0 3px 5px 0;
        }
      }
    }
    .category-class-sort {
      margin: 20px 0;
    }
    .category-class-wrap {
      overflow-x: hidden;
        .focus-class-items {
          // border: 1px solid tomato;
          width: 550px;
          margin-bottom: 10px;
          .focus-class-item {
            .thum {
              height: 120px;
            }
          }
        }
      }
    }
  }
/* ############ tack-course Main ############ */
  .take-course {
    [class*='headline'] {
      font-size: 15px;
    }
    background-color: #fff;
    .take-course-inner {
      flex-direction: column;
      gap: 0;
      > div {
        padding: 0;
        background-color: $white;
        border-radius: 0;
        box-shadow: none;
      }
      .cart-wrap {
        
        .cart-items {
          .cart-item {
            .thum {
              width: 60px;
            }
            .cart-overview {
              .cart-overview-header {
                .btn-clear {
                  font-size: .9em;
                }
              }
              .cart-overview-detail {
                flex-direction: column;
                gap: 0;
                .cart-overview-info {
                  gap: 5px;
                }
                .cart-overview-price {
                  text-align: initial;
                  > * {
                    display: inline-block;
                  }
                }
              }

            }
          }
        }
      }
      .payment {
        border-top: 1px dashed $dim-gray;
        .price-total-wrap {
          .payment-headline {
            margin: 20px 0;
          }
        }
      }
    }
  }
  /* ############ class-detail Main ############ */
  .class-detail-image {
    .class-detail-image-inner {
      flex-direction: column;
      justify-content: start;
      height: auto;
      padding-top: 20px;
      .heading {
        display: none;
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 16px;
        }
      }
      .cover-image {
        img {
          width: 100%;
          height: auto;
        }
      }


    }
  }
  .class-detail-full {
    background: $white;
    .class-detail-full-inner {
      .class-detail-full-content {
        font-size: 14px;
        gap: 0;
        flex-direction: column-reverse;
        img {
          width: 100%;
          height: auto;
        }
        > div {
          padding: 0;
          background-color: $white;
          border-radius: 0;
          box-shadow: none;
        }
        .class-detail-info {
          .class-detail-navigation {
            top: 85px;
            gap: 6px;
            a {
              font-size: 13px;
            }
          }
          .class-review {
            .class-detail-wrap {
              .review-rating-group {
                flex-direction: column;
                align-items: center;
                border-bottom: 1px dashed $dim-gray;
                padding-bottom: 20px;
              }
            }
          }
          .class-mentor {
            .class-detail-wrap {
              flex-direction: column;
              .mentor-profile-summary {
                // gap: 5px;
              }
            }
          }
        }
        .class-detail-sidebar {
          position: static;
          .class-detail-sidebar-wrap {
            .overview {
              .class-price {
                justify-content: flex-end;
                transform: none;
                gap: 10px;
                font-size: 14px;
                margin: 5px 0;
                .sale {
                  flex :none;
                }
              }

            }

          }
        }
      }
    }
  }

}